@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lato:wght@300;400;700;900&family=Quicksand:wght@300&family=Roboto:wght@100;300;400;500;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    line-height: 1.4;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}

.herosection{
    min-height: 100vh;
    background-image: url(images/1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.textcontainer{
    color: white;
    max-width: 900px; 
    margin: 0 auto;
    padding-top: 64px ;
    padding-left: 16px;
}
.lgtext{
    font-size: 72px;
    font-weight: 40px;
}
.lgtext2{
    font-size: 72px;
    font-weight: 30px;
}
.blackbox{
    background-color: black;
    color: white;
    min-height: 200px;
    text-align: center;
}
.textt{
    padding-top: 40px;
    font-size: 30px;
}
.youu{
    font-size: 80px;
}

.imagecontainer{
    max-width: 10px;
    max-height: 10px;
}
.work{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));

}
.card{
    max-width: 320px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgba(1, 1, 1,0.2);
}